rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regra para transações
    match /transactions/{transactionId} {
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
    
    // Regra para configurações do usuário
    match /userSettings/{userId} {
      allow read, write: if request.auth != null && userId == request.auth.uid;
    }
    
    // Bloqueia acesso a todas as outras coleções
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
